body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  bg-color:#FF0000 ;
}

.container {
  text-align: center;
  padding: 50px;
  background-color: white;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin: 0 auto 30px;
  border-radius: 8px;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF0000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #FF0000;
}
